body{
	background-color: #ff91bf42;
}	

.container{
	margin-top: 60px;
	overflow: hidden;
}

.navbar-brand img{
	height: 25px;
	position: relative;
	bottom: 4px;
	left: 23px;
}

.navbar-left li{
	font-size: 20px;
	font-family: 'Courgette', cursive;
}


.post{
	background-color:white;
	border-radius: 5px;
	padding: 10px;
	width: 624px;
    height:224px;
	color: black;
	font-size:20px;
	margin-bottom: 10px;
	float: right;
	margin-top: 10px;
}

.foto img{
	width: 126px;
	border-radius:10px;
}



.aside li img{
width: 100px;
height: 100px;
border-radius: 20px;
}

.aside li a{
	float: left;
}
#link{
	margin-left: 7px;
}

.aside{
	background-color:white;
	width: 452px;
	height: 267px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}

#form__chat{
	background-color:white;
	width: 452px;
	padding:10px;
	border-radius: 5px;
}
#form__chat input{
	background-color: #ff0069;
	color: white;
	border-radius: 10px;
	border:1px solid #ff0069;

} 

.aside2 h3{
	padding-top:20px;
	margin-top: 10px;
	margin-left: 10px;
}
.aside2{
	margin-top: 10px;
	background-color: white;
	width: 452px;
	border-radius: 5px;
}

.like {
  float: right;
  color: #c4cdd4;
}

a:focus, a:hover {
    color: #ff0069;
    text-decoration: dashed;
}
.social__number{
	float: right;
}
.post input{
	background-color: #ff0069;
	border:1px solid #ff0069;
	border-radius: 28px;
	font-size: 14px;
	float: left;
}



.thumbnail {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 10px;
    float: left;
}
#preview {
    position: relative;
}
#preview a {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: none;
}
#file-info {
    text-align: center;
    display: block;

}

.alert {
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    width:156px;
    margin-left: 127px;
    margin-top: 3px;
}

input[type=file] {
    position: absolute;
	visibility: hidden;
	width: 0;
	z-index: -9999;
}
#file-save {
    width: 77px;
    background-color:#ff0069;
	margin-left: 8px;
	border: #ff0069; 
}